[2020-05-10 19:18] Geometrically opened #1 "Crash when following example"
Hey, I have followed the example and my application is crashing! Here is the crash report:
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: UnreachableServer', src/main.rs:91:20
stack backtrace:

Am I doing something wrong?

[2020-05-10 19:20] #1 closed

[2020-05-10 19:20] Geometrically commented on #1
I was not running the meili server. Derp by me :)

[2020-05-10 19:39] Geometrically opened #2 "Crash when following Example step by step"
Hey, unlike my previous issue I have followed the examples step by step.

I have setup a MeiliSearch server, and used this rust application code:

[code]

I am still getting a crash!
Here is the crash:
[code]

[2020-05-10 21:15] Mubelotix commented on #2
Are you using the latest version of MeiliSearch? The line 24 is the line containing get_or_create right? To see some log messages, add `env_logger = "0.7"` in your Cargo.toml, `env_logger::init();` at the beginning of the main function and run the program using `RUST_LOG=trace cargo run`. Please send the log messages and I should be able to understand.

[2020-05-10 23:08] Geometrically commented on #2
I fixed it, it is because I was building from source instead of downloading a release, which broke it.

[2020-05-10 23:08] #2 closed

[2020-06-02 18:51] JCapucho opened #3 "Missing and broken links"
The crates.io and docs.rs pages are both missing a repository link and the wasm tutorial isn't pointing to anything

[2020-06-03 15:27] Mubelotix commented on #3
Thanks! I added the repository link (it will appear on crates.io at the next publishment). I did not write the tutorial yet and I will add the link once it's ready.

[2020-06-03 15:27] #3 closed

[2020-06-22 04:42] Geometrically opened #4 "Broken on Meilisearch v0.11"
As the title says, when using this SDK on 0.11 the thread panics with this error:

`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Unknown("{\"message\":\"Unsupported media type\",\"errorCode\":\"unsupported_media_type\",\"errorType\":\"invalid_request_error\",\"errorLink\":\"https://docs.meilisearch.com/error/unsupported_media_type\"}")', src/routes/search.rs:184:31
stack

[2020-06-22 09:32] MarinPostma commented on #4
Hey @Geometrically! Thanks for the report, can give me repro steps and the bactrace so I can investigate?

Thanks!

[2020-06-22 18:03] Mubelotix commented on #4
I didn't test the library with MeiliSearch 0.11 for now. I think you are experiencing a breaking change of MeiliSearch. I will fix this and implement the last few routes during the next week.

[2020-06-23 00:06] Geometrically commented on #4
Alright! Thank you.

[2020-06-24 07:12] Mubelotix commented on #4
Fixed! Since Meilisearch 0.11 switched to `actix-web`, the header `Content-Type` is now required for PUT and POST methods.

[2020-06-24 07:12] #4 closed

[2020-07-03 02:39] Geometrically opened #6 "Panic on large payloads"
On extremely large payloads (~512 MB) the SDK panics when trying to write to the index:
`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Unknown("{\"message\":\"Payload to large\",\"errorCode\":\"payload_too_large\",\"errorType\":\"invalid_request_error\",\"errorLink\":\"https://docs.meilisearch.com/error/payload_too_large\"}")', src/search/indexing/mod.rs:38:5
`

[2020-07-03 08:54] Mubelotix commented on #6
That's a server error and the panic seems to be originated from your code (unwrap). It seems that the only thing I can do is adding this error to the Error enum (which is very incomplete for now).

[2020-07-15 20:04] Aeledfyr opened #7 "Error enum doesn't implement std::error::Error"
The error enum `meilisearch_sdk::errors::Error` doesn't implement `std::error::Error`, which makes it hard to integrate with other error handling systems such as `thiserror` and `anyhow`.  All it should require are `Display` and `Error` impls for the `Error` enum.

For better compatibility, it would also be useful to add an enum variant for `reqwest` errors, so that the `source` method can be impl

[2020-07-15 20:21] Mubelotix commented on #7
That's right. The error enum is a draft and must be improved a lot. I will publish a 0.2 version soon and will include these improvements.

[2020-07-15 20:39] #7 closed

[2020-07-21 13:52] curquiza opened #8 "Add a CONTRIBUTING.md file"
Based on [this template](https://github.com/meilisearch/integration-guides/blob/master/templates/CONTRIBUTING.md).

The different steps to contribute to the project (dependencies installation, run the tests, how to generate the docs if present... etc) has to be clearly detailed 🙂

See this [CONTRIBUTING.md file](https://github.com/meilisearch/meilisearch-python/blob/master/CONTRIBUTING.md).

[2020-07-21 13:53] curquiza opened #9 "Improve the README"
The README should have the same template as the other SDKs, but stay consistent with the Rust necessities of the language, of course.

The README should contain at least:

- A table of content
- An installation section
- A Getting Started section
- An Examples sections (with search, indexes manipulation, documents manipulation and updates)
- A Development Workflow and Contributing section that red

[2020-07-21 13:54] curquiza opened #10 "FIRST ISSUE TO SOLVE: Fix the tests"
The tests should work with the latest version of MeiliSearch (currently the v0.12.0)

[code]

Current failure:
[code]

## Edit

<s>this failure appears only if the MeiliSearch instance already contains indexes. It should not fail in this context. We should fix this issue.</s> => not true, see this [job failure](https://github.com/meilisearch/meilisearch-rust/pull/19/checks?check_run_id=895051108).

[2020-07-21 14:00] curquiza opened #11 "Use a masterKey for the tests"
Currently, the tests only work with a MeiliSearch instance running without any master-key.

The tests should work with a MeiliSearch instance running with a master key named `masterKey`, launched this way:

[code]

[2020-07-21 14:05] curquiza opened #12 "Add CI to run the tests"
Run a CI that launches the tests for each PR and on `master`.

A PR that does not pass the tests has to be refused

[2020-07-21 14:06] curquiza opened #13 "Add a CI to push to crates.io"
The push should only be done on tag creation (= release creation)

[2020-07-21 14:14] curquiza opened #14 "Add release-drafter"
See https://github.com/meilisearch/integration-guides/blob/master/templates/CONTRIBUTING.md#automated-changelogs

[2020-07-21 14:16] curquiza opened #15 "Add editorconfig file"
https://editorconfig.org/

For general style rules.

The plugin is natively present on some IDE but can be download if missing (https://editorconfig.org/#download).

[2020-07-21 14:23] #15 closed

[2020-07-21 14:58] curquiza opened #17 "Remove the warning"
The warning should be removed

[code]

This warning also appears during the tests launch

[2020-07-21 16:34] Mubelotix commented on #10
One of the two Stats struct need one field to take an Option<String> instead of a String because it seems nullable and I did not see it before.

[2020-07-24 19:01] Aeledfyr opened #21 "Use slices (&[T]) instead of references to a vector (&Vec<T>) in the documents API"
Currently the documents API on master takes `&Vec<T>` parameters when adding or deleting documents.  Slices (`&[T]`) are more idiomatic while providing the same functionality.  Making the parameter a slice allows more flexibility for the users of the API, and can allow the API to be used with arrays and other data structures besides `Vec`s.

I can also make a PR with this change if that would be h

[2020-07-25 10:05] #17 closed

[2020-07-25 21:42] #21 closed

[2020-07-27 15:50] Aeledfyr opened #23 "Support Meilisearch v0.12 errors"
Currently, this library uses string matching on the JSON errors to determine the error type, as Meilisearch only returned a message, and no error code.  Meilisearch v0.12 adds an `errorCode` field to the error JSON, which should allow for better forwards compatibility with the future, in case of changes in the human readable message.  Since the current method relies entirely on string parsing, add

[2020-07-28 14:35] #10 closed

[2020-07-28 14:35] #12 closed

[2020-07-28 15:40] #13 closed

[2020-07-28 17:05] #14 closed

[2020-07-28 17:15] curquiza commented on #23
Hello @Aeledfyr !
I don't know how error handlers work in Rust, but is it possible to create a custom one, like [this basic one](https://github.com/meilisearch/meilisearch-python/blob/master/meilisearch/errors.py) (in meilisearch-python).
The `errorCode` is easily accessible this way 🙂

[2020-07-28 17:38] Aeledfyr commented on #23
I'll make an example error implementation.  What versions of Meilisearch should this support?  I assume that v11 only has a message field, or the current error parsing wouldn't work at all.

I think I can make it work with both v12 and v11 by parsing the `errorCode` and then falling back to parsing the `message` if `errorCode` doesn't work.

[2020-07-28 19:25] Aeledfyr commented on #23
I have a functional error handling implementation at https://github.com/Aeledfyr/meilisearch-rust/tree/error-parsing.  It isn't complete and needs someone who knows the internals of MeiliSearch to check over the error types, since they aren't documented, but it should be better than the current system.

If you want I can create a PR for these changes.  While all the tests pass, I do not know enoug

[2020-07-28 21:03] Mubelotix commented on #23
Hi @Aeledfyr! You have done a great work! You should delete Error::Unknown and replace it where necessary by more accurate alternatives. I don't think we should care about backward compatibility because it adds a lot of messy code and is not easily maintainable. Users should update the Meilisearch server or keep an old version of this crate supporting the specific version of Meilisearch. In additi

[2020-07-28 21:11] Mubelotix commented on #9
The readme is not up to date. The readme should be written in the documentation code in src/lib.rs and then generated by `cargo readme` (must be installed). But the generated file (README.md) has been updated manually and the source has not been changed so we have to update the source (lib.rs) to include the changes made manually in the README.md file.

There is also some out to date information i

[2020-07-29 08:23] curquiza commented on #9
Ok, this issue is only about the manual README, the front page, to be consistent with the other SDKs READMEs. I'm going to open another issue for the generated one since it needs installation and configuration compared to a "classical" README.

Yes, the version is not up-to-date on the current README, but no rush, we are still a WIP 😉 I will change that asap.

[2020-07-29 08:24] curquiza opened #27 "Generate the README"
Following this comment https://github.com/meilisearch/meilisearch-rust/issues/9#issuecomment-665285593

Would be better the #9 was closed before doing this one so that we know the README template we want.

[2020-07-29 08:41] curquiza commented on #23
Yes, as @Mubelotix said, the SDKs do not support the previous versions of MeiliSearch until MeiliSearch is stable 🙂 So, don't worry about the v0.11.
The latest version of MeiliSearch is the v0.12 (the v0.13 is going to be released soon, but there is no big change about errors if I'm not wrong).

So, currently, in the v0.12, when you get an error with the MeiliSearch API, you get:

<img width="663"

[2020-07-29 12:57] #11 closed

[2020-07-29 13:00] curquiza opened #29 "Remove indexes after running the tests"
When running the tests, we create indexes in the MeiliSearch instances, but we don't remove them once the tests have finished.
It leads to tests failure when I relaunch the tests with the same MeiliSearch instance, not really convenient for development purpose 🙂

[2020-07-29 13:28] curquiza opened #30 "Tutorial mentionned in README: simple web app using MeiliSearch"
In the README, we mention a tutorial to build a simple web app using MeiliSearch
https://github.com/meilisearch/meilisearch-rust#-running-in-the-browser-with-wasm

It would be very nice to provide this kind of tutorial 🙂

[2020-07-29 13:55] curquiza commented on #9
This PR #31 solves this issue and gives an example about what we want as a template to solve this issue #27!

[2020-07-29 14:26] #8 closed

[2020-07-29 14:26] #9 closed

[2020-07-29 14:27] curquiza commented on #27
The current README on master (thanks to #31) is the kind of template we want to reach when generating the README 🙂

[2020-07-29 14:29] curquiza commented on #6
Hello @Geometrically and @Mubelotix, can we close this issue then? 🙂

[2020-07-29 14:30] Mubelotix commented on #30
I was thinking about building it using the server hosted by the official Meilisearch team (the crate search engine). But the server is using a very old version of Meilisearch which is not supported by this crate.

[2020-07-29 14:31] Mubelotix commented on #6
Yes, the new error enum will fix this soon.

[2020-07-29 14:36] curquiza commented on #30
Hum, if this is the only thing that is annoying, I'm adding "update the MeiliSearch server of the crates.io demo" in my TODO 😉 I'll keep you in touch. I will probably do it once the v0.13.0 is out!

[2020-07-29 16:05] Aeledfyr commented on #23
We could use a `String` of the error code instead of an enum, which would remove the match statements from enum => String and String => enum, but that would make it harder to handle the errors for a user of the API.  Using an enum allows for the user to `match` on the code of the enum and handle specific error cases, whereas if the error code was a string, matching on it would be more difficult.

[2020-07-29 16:27] Geometrically commented on #6
I stil believe this is an issue, meilisearch's native API has no limits on payload sizes, this limit is imposed by the SDK. Could an option be made to increase the limit?

[2020-07-30 08:01] curquiza commented on #6
Does it help? https://docs.meilisearch.com/guides/advanced_guides/configuration.html#payload-limit-size

[2020-07-30 08:01] curquiza commented on #6
@Geometrically Does it help? https://docs.meilisearch.com/guides/advanced_guides/configuration.html#payload-limit-size

[2020-07-30 08:30] curquiza commented on #23
@Aeledfyr! Thanks for your detailed explanation, and the example! It's really clear 🙂

Let's start with the Enum then! 🚀 @Kerollmops (CTO, doing Rust every day) told me to add `#[non_exhaustive]` to your enum so that MeiliSearch can send new error codes without compatibility issues.

Of course, it will be updated accordingly. It will be the `v0.2.0` is already out, so your changes will be in the `

[2020-07-30 09:03] Mubelotix commented on #23
Actually, the Error::Unknown is used where the error is not unknown. We should replace that variant by multiple more specific variants. But using the websys error is a bad idea because it is not idiomatic and it has almost no meaning. I will do it later if you prefer.

[2020-07-30 12:03] Mubelotix commented on #6
No @Geometrically . As you saw in your error message, it is a meilisearch error coming directly from the server.

[2020-07-30 14:20] curquiza opened #33 "Examples section"
Currently, and even after this PR #32 that installs all the process to generate the README, the examples section is still empty. Only the Getting Started example is tested and generated.

A lot of tests have been written by @Mubelotix, and we should find a way to generate them as well in the Examples section.

[2020-07-30 15:28] curquiza opened #34 "Add clippy to the CI"
[`Clippy`](https://github.com/rust-lang/rust-clippy) is the linter used in the MeiliSearch repo, and allows better contributions and maintenance 🙂

A PR that does not pass `clippy` should be refused.

[2020-07-30 15:39] #34 closed

[2020-07-30 17:06] Geometrically commented on #6
Oh, I see, seems to be something introduced with the actix switch. I'll close this, thanks for your help.

[2020-07-30 17:06] #6 closed

[2020-07-31 09:45] Mubelotix commented on #6
Yeah but they are aware of this change since the message is a well formatted error message.

[2020-07-31 12:00] curquiza commented on #6
@Geometrically! Yes it was introduced quite recently if I'm not wrong, that maybe you haven't seen it!

Hope you are ok and ready to use MeiliSearch and meilisearch-rust SDK now! 😁 Feel free to ask any question and to give us feedbacks!

[2020-07-31 12:15] curquiza opened #37 "Create and fill sample file to display Rust examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-07-31 12:16] curquiza commented on #33
Closed in favor of #37

[2020-07-31 12:16] #33 closed

[2020-07-31 12:24] Mubelotix commented on #37
I am doing this

[2020-07-31 13:42] Mubelotix opened #38 "Settings can only store owned data"
The `Settings` struct is using `Vec`s and `String`s, which are owned structures.
It should also be able to use borrowed values.
We should replace these owned types by generics (but since there is many fields it would make a lot of generics 😬).

[2020-07-31 13:44] Mubelotix opened #39 "Missing routes"
The `Get Keys` and `Get all update status` routes are still missing. It can be useful in rare cases.

[2020-07-31 16:01] Mubelotix opened #41 "Improve Query and SearchResults"
Query:
* Add the `matches` option
* Change `attributes_to_crop` into a Vec
* Change `attributes_to_highlight` into a Vec
* Change `attributes_to_retrieve` into a Vec

Results:
* Support matches_info
* Support formatted results

[2020-08-18 18:42] #23 closed

[2020-08-18 18:57] #27 closed

[2020-08-18 19:47] curquiza commented on #30
@Mubelotix https://crates.meilisearch.com/ now runs with MeiliSearch v0.13.0! 😁

[2020-08-18 19:50] Mubelotix commented on #30
Thanks @curquiza ! I will code a prototype soon!

[2020-08-18 20:12] curquiza opened #44 "Check the version in code-sample before pushing to crates.io"
Improve [`.github/scripts/check-release.sh`](https://github.com/meilisearch/meilisearch-rust/blob/master/.github/scripts/check-release.sh) to check the num of version in code-samples.
This way, the docs will be up-to-date with the latest version of the crate.
Should be started once #40 is merged

### Edit
No need to check the patch of the version.

[2020-08-21 14:14] Mubelotix opened #45 "Change search route method"
The search request is currently a GET request but a POST request would be better.

[2020-09-06 22:40] longfellowone opened #47 "Empty query returns no results"
According to docs

"When q isn't specified, a placeholder search is performed, returning documents that best match other search parameters."

https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#query-q

Is there a way to provide an empty query? using a empty string returns 0 results

[code]

[2020-09-07 08:15] curquiza commented on #47
Hello @longfellowone!

Currently, the MeiliSearch placeholder works only when passing a `q=null` or no `q` at all, but `q=''` returns indeed no result.

This will be changed in the next release! https://github.com/meilisearch/MeiliSearch/pull/916

[2020-09-20 17:00] longfellowone commented on #47
Figured that was the case. Until the next version is released is there anyway to send in a null query using the current rust api as new() does not accept an Option?

[2020-09-24 10:56] MCOfficer opened #48 "Don't require tokio runtime"
Currently, this project requires usage of the tokio runtime, using it with f.e. async-std is not possible. It would be nice if we could also use it with these other runtimes, without having to do this (yuck):
[code]

As far as i can see, the only reason is the dependency of reqwest.

Switching to a runtime-agnostic http client seems possible. I made out https://github.com/http-rs/surf as a good op

[2020-09-24 13:20] Mubelotix commented on #48
Do without `reqwest` would indeed be great. I never heard about `surf`. Is it as stable as `reqwest`?

[2020-09-24 13:26] Mubelotix commented on #47
I will add this feature in #46. The query will be an `Option` too.

[2020-09-24 13:30] curquiza commented on #47
FYI the next release of MeiliSearch (v0.15.0) will be out in two weeks and will contain this change (`q=''` will return results as placeholder search).
If there is any change, I will let you know as the public pre-release will be out on Monday!

[2020-09-24 13:36] MCOfficer commented on #48
Once it reaches 2.0, I'd expect it to be quite stable.

Firstly, the http-rs is one of the bigger players in the whole networking topic, they know what they're doing. Secondly, surf is just an abstraction over two very stable http backends - `hyper` (which reqwest uses) and `isahc` (a curl wrapper).

As it stands, #49 is using the `isahc`, but switching is as simple as adding a feature.

[2020-09-24 13:36] Mubelotix commented on #47
Yes, but it would be more idiomatic to make `query` optional.

[2020-09-24 14:08] Mubelotix commented on #47
I don't understand. According to the meilisearch response, the query string is mandatory.
[code]

[2020-09-24 14:12] curquiza commented on #47
@Mubelotix: Hum weird, what is the version of your MeiliSearch instance?

[2020-09-24 14:13] Mubelotix commented on #47
Oups I ran a very old version.

[2020-09-24 14:58] MCOfficer commented on #48
I read up on it, and unless you are paranoid surf, is perfectly stable.

If you are paranoid, [surf is just as unstable as reqwest](https://medium.com/@shnatsel/smoke-testing-rust-http-clients-b8f2ee5db4e6), not matter which backend it uses. But at that point, *nothing* is stable.

[2020-09-24 17:12] Mubelotix commented on #48
Since I have read [this article](https://medium.com/@shnatsel/smoke-testing-rust-http-clients-b8f2ee5db4e6) I am quite paranoid about the stability. But you should be right.

[2020-09-25 13:38] curquiza commented on #48
Hello @MCOfficer! Welcome here, and thanks for your suggestion 🙂

@Kerollmops what do you think about `reqwest` vs `surf`?

(FYI @MCOfficer, @Kerollmops is the main contributor of the [MeiliSearch's core engine](https://github.com/meilisearch/MeiliSearch), so written in Rust)

[2020-09-25 19:56] Kerollmops commented on #48
Hey @MCOfficer,

I like what you say about the reqwest dependency, I am convinced that this is a little ugly to deploy a whole tokio runtime to use it. However, I already tried surf and it was not that great, I [encountered some bugs](https://github.com/http-rs/surf/issues/72).

I would love to use surf instead of reqwest directly, if we do we will have to provide features to allow the user to cho

[2020-09-25 20:43] MCOfficer commented on #48
@Kerollmops Agreed regarding backends, i'll give the PR two passthrough features.

I checked for alternatives to surf, and there really aren't many. Most clients built on hyper are from the early async days and thus rely on tokio (namely, reqwest and yuzikaze). Everything else is either sync or abandoned. The only true alternatives are reqwest and isahc themselves (yay, reinventing the wheel), and

[2020-10-07 09:21] ppamorim opened #53 "Testing against populated data"
## Summary

When running `cargo test` I noticed that I need to have a Meilisearch instance pre-configured before hand. This instance generally is empty and the tests are not running against a populated instance, no assert is done regarding the data that the SDK returns.

## Possible solution

I would suggest to add a pre-setup configuration for the command `cargo test`, this is possible with the r

[2020-10-07 15:44] Mubelotix commented on #53
I know that tests are not very robust for now. We are speaking a bit about this in #29. There will be a PR that will greatly improve the old tests. You can see the proposed solution in the new tests of #46.

[2020-10-14 13:24] eskombro opened #54 "Implement dumps (add tests and code samples)"
Since [v0.15.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.15.0), MeiliSearch exposes a new functionality: [dumps](https://docs.meilisearch.com/references/dump.html#dumps)

This feature should be implemented in this SDK following [this specificacions](https://github.com/meilisearch/integration-guides/issues/44)

- [x] Implement dump creation route
- [x] Implement get dump status ro

[2020-10-19 09:02] #41 closed

[2020-10-19 09:02] #45 closed

[2020-10-19 09:02] #47 closed

[2020-10-19 11:50] curquiza opened #57 "Upgrade tokio from 0.2 to 0.3"
Currently, our tests are failing when trying to upgrade tokio from 0.2 to 0.3. See this failing PR: https://github.com/meilisearch/meilisearch-rust/pull/55.

The goal of this issue is to upgrade tokio to keep our dependencies up to date.

[2020-10-19 13:30] Mubelotix commented on #57
I tried to fix this but it is impossible because reqwest does not support tokio 0.3 yet.

[2020-10-19 13:49] curquiza commented on #57
Ok good to know, I close the related PR of dependabot then!
Let's keep an eye on the issue you linked 🙂

[2020-10-26 13:02] #37 closed

[2020-11-04 09:55] curquiza commented on #48
Hello @Mubelotix and @MCOfficer!
Sorry not to have really followed this issue. Is there a final decision about this? What should we do with PR #49? 🙂

[2020-11-04 10:27] MCOfficer commented on #48
The final decision is on you (as in, your team). I will for the time being move away from meilisearch, so it will be your code to maintain.

I haven't really worked #49 in the past weeks, but i still think it's a nice solution. `isahc` is stable and it automatically shares one client between threads, which reduces overhead without having to manage the client ourselves. It does use curl under the h

[2020-11-04 17:28] curquiza commented on #48
Great to know that your changes work in production 😁
After reading your arguments, it could be great to apply your suggestion, from my POV. But I'm not a Rust expert.
@LegendreM, could you help me with this? 🙂
Also, @Mubelotix, we will not take any definitive decision without having your POV.

[2020-11-05 17:32] Mubelotix commented on #48
I am waiting for #49 to be finished and then I will compare the CPU usage and binary size. I think it's great to make without `tokio` but if `reqwest` + `tokio` outperforms greatly `isahc` on one of these metrics, I think it would be nice to give the choice of the backend to the library user.

[2020-11-05 19:57] MCOfficer commented on #48
The only things left are the passthrough feature (to control isahc's `static-curl` feature) and possibly one if-statement in `parse_response`, so the performance shouldn't change anymore. I will try to finish this in the next day, but if you have time, feel free to test it already.

[2020-11-12 18:27] rrjanbiah opened #67 "Running in browser using WASM"
Looks this is possible https://github.com/meilisearch/meilisearch-rust#-running-in-the-browser-with-wasm, but more information can be documented. This can bring MeiliSearch to more static site builders.

[2020-11-15 03:15] acc557 opened #66 "meilisearch-postgresql"
There is a[ rust-based plugin for postgresql ](https://github.com/zombodb/zombodb) to use elasticsearch as index for full text-search

I have been using this plugin and meilisearch for a while, and I think it will be very interesting if they can  be combined, maybe into a meilisearch-postgresql plugin.

[2020-11-20 07:33] Mubelotix commented on #30
So I am going to do this now. Can I steal the html and css from crates.meilisearch.com @curquiza ? It would be funny to make a perfect clone in Rust.

[2020-11-20 08:55] curquiza commented on #30
Of course you can! 🙂 The design was originally taken from [lib.rs](https://lib.rs/), which is not a Meili property, so don't forget to mention it in your tutorial as Kero did for crates.meilisearch.com.
Thanks @Mubelotix! 🚀

[2020-11-20 12:43] eskombro commented on #30
Hey @Mubelotix

If you need a hosted MeiliSearch to build this, let me know, I'll provide you with a v0.16.0 server for it during development.

[2020-11-20 15:32] rrjanbiah commented on #67
@curquiza Thank you. I'm not much familiar with WASM yet. But, I'll see what I can do still.

Some background on why I posted this ticket:
* I was searching for some non-JVM alternative to the Elastic search for a new project as it was consuming more memory
* Stumbled up https://mosuka.github.io/search-benchmark-game/ and found that https://github.com/tantivy-search/tantivy is the fastest; and the

[2020-11-23 10:22] curquiza commented on #66
Hello @acc557!
I'm transferring your issue into the integration-guide because it's not related to he meilisearch-rust SDK 🙂
You are saying you used this Elastic plugin with MeiliSearch, do you have a code example? How complicated was it to handle the differences between MeiliSearch and Elastic using this plugin?

[2020-11-28 12:17] curquiza commented on #67
@rrjanbiah Thanks for your feedback, really interesting to know how you found out MeiliSearch 😄

@Mubelotix just created a PR to add the tutorial "MeiliSearch + WASM" in this PR https://github.com/meilisearch/meilisearch-rust/pull/71!! He did a great job!
I'm waiting for my requested changes to be modified and I will merge the PR 🚀
In the meantime, you can already check out the PR without waiting

[2020-11-29 07:19] rrjanbiah commented on #67
@curquiza Awesome. Thanks to both of you

[2020-11-30 10:34] #30 closed

[2020-11-30 10:34] #67 closed

[2020-12-08 15:22] fedenator opened #75 "Error when getting status form set_attributes_for_facetting on new index"
Invoking get_status() on the Progress of a set_attributes_for_faceting returns an Err(ParseError(Error("missing field `rankingRules`", line: 0, column: 0))'

[2020-12-08 16:13] Mubelotix commented on #75
I did not know it was optional. It will be fixed very quickly.

[2020-12-21 11:13] curquiza opened #77 "waitForPendingUpdate method"
The `wait_for_pending_update` method is a method to wait for the asynchronous update of MeiliSearch (like update/reset the settings or add/update/delete documents).
This method is really useful for testing phases: you add documents, you wait for the document update to finish, you check all the documents have been added. This is also used by users who wanted to work synchronously.

## Details of th

[2021-01-03 11:28] abour opened #79 "Update to tokio 1.0"
Reqwest is now using tokio 1.0 (https://github.com/seanmonstar/reqwest/pull/1076 was merged), so I think the update could be done now ?

EDIT: Actually I just figured out that even if it has been merged into master, not tag were added.

[2021-01-04 09:51] curquiza commented on #79
Hello @abour!
Feel free to open a PR when the tag will be added then 😁

[2021-01-04 17:32] Mubelotix commented on #79
It is not necessary since this crate will not use `reqwest` anymore in the next versions.

[2021-01-05 17:08] abour commented on #79
Ok thank you good to know !

[2021-01-06 16:58] fharper opened #83 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 17:39] #79 closed

[2021-01-06 17:40] curquiza opened #85 "Update documentation"
Update the docs to finalize the tokio removal. See https://github.com/meilisearch/meilisearch-rust/pull/70

Make the PR pointing to the `isahc-dev` branch

[2021-01-06 19:55] fharper opened #86 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-07 19:09] rrjanbiah commented on #67
@curquiza Apologies for the late feedback. Looks like @Mubelotix has bundled the whole application in WASM. But, what I expected was something different: the MeiliSearch engine as WASM... so that pure browser based search is possible without any build or compilation process. Few players in this space:
1. https://github.com/olivernn/lunr.js
2. https://github.com/weixsong/elasticlunr.js
3. https://g

[2021-01-07 19:15] Mubelotix commented on #67
That would be great but it is a non-goal. Meilisearch has not been designed to be compiled for the browser and is depending on libraries that are not supporting WASM.

[2021-01-08 06:46] rrjanbiah commented on #67
@Mubelotix Thanks for clarifying that it is not possible. In that case, the documentation is slightly misleading.

[2021-01-11 17:30] curquiza commented on #67
Hello @rrjanbiah!
Can you create a PR or tell us what part is misleading and how to improve it.

[2021-01-13 17:14] rrjanbiah commented on #67
@curquiza FWIW, https://github.com/meilisearch/meilisearch-rust/pull/89

[2021-01-18 22:53] #86 closed

[2021-02-06 16:17] curquiza commented on #85
Closed by #96

[2021-02-06 16:17] #85 closed

[2021-02-06 16:19] curquiza commented on #48
Closed by https://github.com/meilisearch/meilisearch-rust/pull/70

[2021-02-06 16:19] #48 closed

[2021-02-10 14:03] #44 closed

[2021-02-11 15:09] #83 closed

[2021-02-14 17:43] curquiza commented on #39
`get_keys` is done with #103 thanks to @sanders41 🚀

[2021-02-14 21:40] sanders41 opened #107 "Error with ProcessedStatus"
I was looking at the possibility of adding the get all update status route in #39 and have run into an issue. According to the [documentation](https://docs.meilisearch.com/reference/api/updates.html#get-all-update-status) the response will look like:

[code]

but when I test I get an error ```ParseError(Error("missing field `duration`", line: 1, column: 325)```. This error seems to resolve and the

[2021-02-15 09:47] curquiza commented on #57
Tokio is not used by this repo anymore

[2021-02-15 09:47] #57 closed

[2021-02-15 09:50] curquiza opened #109 "Make each test independent"
To avoid side effects between each test, the tests should all be independent.

It means, at the beginning of each test:
- create the needed index(es)
- push documents according to the test
- update settings if necessary

And at the end of each test:
- remove the index(es)

This is linked to #29

[2021-02-15 09:56] #39 closed

[2021-02-15 10:22] curquiza commented on #107
Hello @sanders41! Thanks for your detailed feedback! This is appreciable

The python client is indeed one of the first clients created, so the test definitely misses some updates, like this one! Thanks for noticing it!

I think this would solve the issue 🙂

You are right, I've opened an issue in the docs repo! 🙂
https://github.com/meilisearch/documentation/issues/765

[2021-02-18 18:38] #75 closed

[2021-02-18 18:38] #107 closed

[2021-02-19 19:23] sanders41 commented on #109
I have looked into creating and deleting the index with each test and the problem I have run into is because the tests are running in threads, the tests still fail. The reason for this is multiple tests can be running at the same time trying to use the same index name. One solution to this is to run the tests all in a single thread with `cargo test -- --test-threads=1`. By doing this the tests no

[2021-02-20 09:24] Mubelotix commented on #109
@sanders41 I have already thought about this issue. Your third solution has already been applied [here](https://github.com/meilisearch/meilisearch-rust/blob/a78ec535dab6e3fdbb34a9d72900aef25fa289dc/src/search.rs#L284) and I plan to extend this structure to all other tests. However, there is another issue that you did not expect. For a reason I am unable to explain when tests make simultaneous requ

[2021-02-20 11:45] sanders41 commented on #109
I have seen this issue also. I was guessing it was happening because of the index overlap, but sounds like your testing shows that isn’t the cause.

[2021-02-22 12:37] #38 closed

[2021-02-25 18:53] #54 closed

[2021-02-26 16:47] #77 closed

[2021-04-21 21:43] Mubelotix opened #126 "Consider using macros"
Macros are a wonderful feature of the Rust language that could help us for 2 things :

## Add an abstraction over the Document trait

We currently use a `Document` trait to make structures of users compatible with MeiliSearch.
It works great but has some unpleasant boilerplate code.

### Examples

<details>
<summary>Currently</summary>
<p>

[code]

</p>
</details>

<details>
<summary>With macros</

[2021-04-22 10:12] curquiza commented on #126
Thanks for this issue @Mubelotix!

Anyone using this crate: feel free to give your opinion and what you prefer here 😁

[2021-04-22 12:30] sanders41 commented on #126
For the structs I don't have much of an opinion either way as both options are OK for me. For the tests however I agree with @Mubelotix, if macros could be used to simplify adding and maintaining them that it would be really nice.

[2021-04-25 18:33] ppamorim opened #127 "Are lifetimes really required?"
I am facing difficulty to write a script using this library due to self-referential structs in given for the code below:

[code]

It will not compile. Note that the problem is around the definition of the Meilisearch manager struct:

[code]

I do understand that the requirement for the lifetimes is due to the client instance inside the `Index` struct, but in general, this seems to be a non-ideal s

[2021-04-25 21:36] Mubelotix commented on #127
There are lifetimes so that you we can clone everything almost for free. We used a workarround in are wasm example, which is making the client static. But it won't work if you need dynamic index names.

We could use owned `String`s to get rid of lifetimes since lifetimes and async do not match well. But actually references are much nicer. I will try to write a safe client wrapper using owned strin

[2021-04-25 22:18] ppamorim commented on #127
@Mubelotix I migrated the code to remove all lifetimes in the code in this branch: https://github.com/ppamorim/meilisearch-rust/tree/feature/removelifetimes

I can later on open a PR, but there are still some problems like the fact that I had to remove the parameter `attributes_to_crop` because serde was having trouble to serialize the type.

I will continue working on.

[2021-04-26 11:43] Mubelotix commented on #127
Great work! I am waiting for your PR to be ready to be reviewed.

That's right but we could also use `Rc<String>`. I am not sure if this is worth it.

[2021-05-01 13:17] ppamorim commented on #127
@Mubelotix Thank you very much. Could you please help me to finish this PR?

[2021-05-20 23:20] sanders41 opened #135 "WASM Build Error"
Someone on the Slack channel pointed out he is getting a build error when compiling to WASM.

[code]

The error happens [here](https://github.com/meilisearch/meilisearch-rust/blob/39aeac1835dffeefac9718d58d33d842b7be1169/src/progress.rs#L152). When I compile with the test compile from the docs, `cargo build --example web_app`, I don't get an error, but if I compile like he compiled, `cargo build -

[2021-05-22 11:57] sanders41 opened #137 "WASM Build In CI"
Related to issue #135, since none of the test suite runs against the WASM build would it be worth it to add a WASM build step in the way an end user would build it to the CI tests? Since there are areas of the code that only compile and run if the build is for WASM these currently never get tested.

If yes maybe also add it as a test to run with the same settings in the contributing guide?

[2021-05-24 16:49] #135 closed

[2021-06-10 16:13] Mubelotix opened #143 "Making indexes generic over the contained document type"
I think the way this library handles `Document` types can be improved.

## Current implementation

The type of the `Document` must be explicitly specified at each request.
[code]
That is very flexible but do we really need flexibility here? The type of the document will (and should) almost never change at runtime.
The current solution may lead to bugs where the actual type of the `Index` does not

[2021-06-12 10:09] #137 closed

[2021-06-15 07:59] ppamorim commented on #143
@Mubelotix Could be better to create a struct Book that impl a trait Document  to retrieve the key from Meilisearch? Like this?

From the library:
[code]

From the project:

[code]

[2021-06-15 08:05] Mubelotix commented on #143
@ppamorim Interesting idea, but that means you would not be able to have multiple indexes containing the same document type.

[2021-06-15 08:08] ppamorim commented on #143
@Mubelotix For this case, make `get_index` to accept a custom index name and ignore the key from the trait.

[2021-06-15 08:09] Mubelotix opened #144 "Unexpected test failure"
The test `progress::test::test_wait_for_pending_updates_time_out` randomly fails in rare cases.

[2021-06-15 08:13] Mubelotix commented on #143
Yes that would work but I think that adding this method to the Document trait is an unnecessary abstraction. It breaks the object hierarchy: an Index contains Documents, a Document cannot choose its Index. A Document should always be handled by its Index and does not need to be aware of its name.

[2021-06-15 08:16] ppamorim commented on #143
If this could be possible or anything similar...

[code]

By retrieving the value of Book, it returns `Pedro_Book`.

[2021-06-15 08:20] Mubelotix commented on #143
That would result in a compiler error. Rust expects a type but this is a function call.

[2021-06-15 08:23] ppamorim commented on #143
I know, that's a hypothetical case if we could do this in Rust.

[2021-06-15 08:26] ppamorim commented on #143
But I still think that the developer should duplicate the structs and name them correctly, it doesn't matter if the struct is similar to another struct. Later on this can be a problem.
I have this same situation in my code.

[2021-06-15 10:04] sanders41 commented on #144
Do you have any more information about the failure? I can’t recreate it on my end. Looking at the test my best guess is it finishes adding the documents before the time out. The timeout is currently set to 1 nanosecond so I guess it could be changed to 0? Since I can’t recreate the failure on my in I’m not sure how to test if that would make any difference.

[2021-06-15 12:47] sanders41 commented on #144
I have run some experiments and am still unsuccessful at getting the current test to fail. I found that I can make the test fail by setting the interval to 0 like `Some(Duration::from_nanos(0)), Some(Duration::from_nanos(1))`. I think this implies the random failures are indeed a timing issue?

I did test setting the timeout to 0 like `Some(Duration::from_millis(1)), Some(Duration::from_nanos(0))`

[2021-06-15 13:15] #127 closed

[2021-06-15 14:03] Mubelotix commented on #144
I think you are right about this. It is the last assertion that failed.
The thing is: the test did not timeout because Meilisearch returned a result in less than a millisecond. This should not have happened. So it is a Meilisearch bug, but the test should be able to handle it.
Setting timeout to 0 should solve the problem as [the while condition](https://github.com/meilisearch/meilisearch-rust/blo

[2021-06-15 14:07] sanders41 commented on #144
Yes I agree with you about setting it to 0. However I can't think of any other solution so I'm not sure the best way to go with this.

[2021-06-15 18:06] Mubelotix commented on #144
It happened right here on the CI while we were trying to merge #132. I can't reproduce it either.

[2021-06-15 18:12] sanders41 commented on #144
This takes the docker vs installed MeiliSearch out as a possible cause since CI is using docker also. Probably a good idea to try to log it. Currently its next to impossible to debug since we can't reproduce it.

[2021-06-17 14:48] curquiza commented on #143
Hello @Mubelotix,
I checked with our CTO, your solution seems to be a good idea from his point of you! Having the type when creating the index is better.

[2021-06-24 00:04] dyedgreen opened #148 "Use Arc instead of Rc in Client"
It would be nice the `Client` was send and sync, since a lot of the APIs are async. 😅

[2021-06-24 10:26] Mubelotix commented on #148
It is already possible! Just enable the `sync` feature.

[code]

[2021-06-24 10:26] #148 closed

[2021-08-10 23:05] aidanhs opened #159 "Meilisearch SDK can give strange errors when running against newer meilisearch versions"
**Description**
I am using `meilisearch-sdk = "0.9.0"` against `main` of meilisearch (63daa8b15ab21d).

When I create an index and unwrap with `client.create_index("param_types", None).await.unwrap()`, I get this error:
[code]

**Expected behavior**
If there is version incompatibility, meilisearch fails in some obvious way.

**Current behavior**
I was presented with an opaque error message that ga

[2021-08-11 15:42] Mubelotix commented on #159
@curquiza is right but I don't think we even have tests to ensure that errors are parsed successfully. We need to add these

[2021-08-11 15:48] curquiza commented on #159
I open another issue then :)

[2021-08-11 15:49] curquiza opened #162 "Add tests for errors"
Following this issue: https://github.com/meilisearch/meilisearch-rust/issues/159

Add tests to ensure that errors are parsed successfully

[2021-08-12 16:05] curquiza opened #163 "Make `with_filter` work also with the array syntax"
In v0.21.0, the `with_filter` function corresponding to the `filter` search parameter can accept both array and string syntax:
- string: ` "filter": "genre = comedy AND price > 13" `
- array:  `"filter": ["genre = comedy", "price > 13"]` 

Currently, only the string syntax is accepted:

[code]

- `with_filter` should accept both syntaxes, or another function allowing the array syntax should be add

[2021-08-18 14:04] vsndev3 opened #165 "WebAssembly example having compilation problem"
Compilation issue with web_app example

**Description**
Having problem while trying to compile the web assembly example

Over commit f6477d1d6be89927866659e960e7c05198cbf4d6, following issues is seen:

[code]
$ cargo --version
cargo 1.54.0 (5ae8d74b3 2021-06-22)

$ rustc --version
rustc 1.54.0 (a178d0322 2021-07-26)

Built using this command:
~/meilisearch-rust/examples/web_app$ cargo build

Any c

[2021-08-18 14:38] sanders41 commented on #165
@vsndev3 I just tried and was able to build without error using these flags for my build `cargo build --example web_app --target wasm32-unknown-unknown --features=sync`. If you build with the flags set do you still get errors?

[2021-08-19 04:09] tvolk131 opened #166 "Implement Send/Sync for Index and Client Structs"
I'm running into some trouble using this client implementation because the Index and Client structs do not implement the Send or Sync traits. As an example, because these traits are unimplemented I am getting this error from a Rocket handler:

[code]

A quick look at the source code leads me to believe that for both structs, swapping out the Rc-base properties for Arcs instead should be all that i

[2021-08-19 05:36] vsndev3 commented on #165
@sanders41 Thanks, the build ``` cargo build --example web_app --target wasm32-unknown-unknown --features=sync ``` works, however the issue is seen if ``` wasm-pack build examples/web_app/ --target=web --no-typescript ```

The wasam-pack version I am using is:
[code]
I am assuming it could be due to interoperability reasons by wasm-pack

[2021-08-19 12:53] sanders41 commented on #165
I can confirm I get the same error with `wasm-pack build examples/web_app/ --target=web --no-typescript` using both wasm-pack 0.9.1 and 0.10.0. I'm not very familiar with wasm so unfortunately beyond confirming I get the same error, I'm not sure of the solution.

[2021-08-19 13:35] vsndev3 commented on #165
Closing the issue, since compilation is working with cargo and due to wasm-pack.

[2021-08-19 13:35] #165 closed

[2021-08-20 00:26] tvolk131 commented on #166
Ahh I see now that there is a feature to swap out Rcs for Arcs. My bad!

[2021-08-20 00:26] #166 closed

[2021-08-22 14:50] Mubelotix commented on #165
HI @vsndev3, building with wasm-pack is possible. Try something like

[code]

If I remember well, this is how to add optional features with wasm-pack

[2021-08-22 14:51] Mubelotix commented on #166
@curquiza We should make that a default. That's a pain point for too many people.

[2021-08-23 11:30] curquiza commented on #166
Feel free to re-open the issue if you think this is a good implementation

[2021-08-30 17:05] MartianGreed opened #168 "Segmentation fault v0.10.0 - when the client is used"
Hi, I can construct the client without any issues but whenever I use the client, either for getting an index or even printing out the client I get a segmentation fault.

I'm new to rust so maybe this is my own fault...
I've experienced similiar issues with the "reqwest" lib but I saw this wasn't
[code]

**Screenshots or Logs**
Here is a pastebin of my [Cargo.toml](https://pastebin.com/w8rDykr8)

*

[2021-08-30 17:13] curquiza commented on #168
Hello @MartianGreed

Can you give the exact error you get please? :)

[2021-08-30 17:28] MartianGreed commented on #168
Hi, thank's for your fast answer !

The only error I get is `Segmentation fault` with RUST_BACKTRACE=1 and RUST_LOG=debug

[2021-08-30 17:35] sanders41 commented on #168
Do you by chance have other code to go along with that is using `unsafe`?

[2021-08-30 17:36] MartianGreed commented on #168
No, I didn't use the unsafe keyword either

[2021-08-30 18:33] MartianGreed commented on #168
By running it locally on my machine (instead of docker) I can get rid of the segmentation fault.
Nonetheless, I get this error, which I think can be easily fixed

`ParseError(Error("unknown variant `processing`, expected one of `enqueued`, `failed`, `processed`", line: 1, column: 22))`

Here is how I build my docker containers for further investigations :

[code]

required environment variables :

[2021-08-30 18:33] sanders41 commented on #168
I just tried running your code and didn't get any errors. Are you using Alpine in Docker? If so can you share your Dockerfile so I can try running it the same way?

[2021-08-30 18:35] MartianGreed commented on #168
Yes I did, I've just thought maybe it has something to do with the SSL certs ?

[2021-08-30 18:47] sanders41 commented on #168
I don't think an SSL cert would cause a segfault but maybe? Is it possible to connect to the docker container and see if there is any more information in the logs there?

[2021-08-30 18:49] MartianGreed commented on #168
The only log I get from the container is :
[code]

[2021-08-30 18:52] sanders41 commented on #168
How big is `recipe.json`? Is it possible that the container is running out of memory?

[2021-08-30 19:47] sanders41 commented on #168
I tried using your Dockerfile and so far still haven't been able to recreate the issue on my side.

[2021-08-30 20:42] MartianGreed commented on #168
Ok, I'll try it out again tomorrow... Thanks for your help

[2021-08-31 12:01] MartianGreed commented on #168
Thank's again for your help, I'm closing this thread because this is not meilisearch-sdk related, but more about environment.

I can properly run it my machine, but this is still not working properly on my dockers :/

[2021-08-31 12:01] #168 closed

[2021-09-22 13:31] tvolk131 commented on #166
Hey apologies for the late reply to this - would it make sense to instead add the `sync` feature as a default feature? Then, those seeking maximal single-threaded performance can disable the feature if needed.

[2021-09-23 12:55] curquiza opened #176 "Make the `sync` feature as a default feature"
Follow https://github.com/meilisearch/meilisearch-rust/issues/166

Check with @Kerollmops. We think it's better to use `Arc` everywhere instead of `Rc` to make the user simpler for everyone.

Even if `Arc` are sightly less performant than `Rc`
- this package is only an HTTP client, so the most performance issues are coming from the network
- it eases the usage for everyone
- it's common to do this

[2021-09-23 12:55] curquiza commented on #166
I check with our CTO, and we open this issue following this discussion :)
https://github.com/meilisearch/meilisearch-rust/issues/176

[2021-09-23 13:15] Mubelotix commented on #176
This is already implemented under the `sync` feature. [This feature replaces all the `Rc`s with `Arc`s](https://github.com/meilisearch/meilisearch-rust/blob/76bcb907c7c1f44bd0f32dcd86162c60dc624be4/src/lib.rs#L116). However, it is not enabled by default and that would indeed be better.

[2021-09-23 13:16] curquiza commented on #176
Ok, I understand better, I updated the title of the issue

[2021-09-23 13:42] curquiza commented on #159
I close this issue since another issue is opened. :)

[2021-09-23 13:42] #159 closed

[2021-09-23 15:40] tvolk131 commented on #166
Awesome, thanks for addressing this! Other than this issue, it's been very easy to use.

[2021-10-01 15:39] heksadecimal commented on #163
hey @curquiza , I want to work on this issue.

This might be a silly question but can you please answer it for me as this is my first contribution :) ?

I think that I need to add some other function ( such as `with_array_filter` ? ) and then can connect the items into a string and pass them through the original `with_filter` function and write some basic tests to ensure that it connects all of th

[2021-10-01 15:41] heksadecimal commented on #163
hey @curquiza , I would like to work on this issue.

This might be a silly question but can you please answer it for me as this is my first contribution :) ?

I think that I need to add some other function ( such as `with_array_filter` ? ) and then can connect the items into a string and pass them through the original `with_filter` function and write some basic tests to ensure that it connects all

[2021-10-02 08:48] Mubelotix commented on #163
That won't work due to lifetimes. `with_filter` takes a `&str`. What you can do is adding a new `array_filters` field on the struct (and the setter function of course).

[2021-10-02 14:08] curquiza commented on #163
Hello @heksadecimal and @Mubelotix!

Thanks @Mubelotix for your explanation. Feel free to open a PR @heksadecimal following the @Mubelotix's instructions :)

[2021-10-02 16:22] sccalabr commented on #176
I'd like to give this a try

[2021-10-02 16:58] curquiza commented on #176
Thank you @sccalabr

[2021-10-06 13:18] curquiza opened #181 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 13:23] The-Loony-Coder commented on #181
I would like to work on this issue.

[2021-10-06 13:23] curquiza commented on #181
Go @The-Loony-Coder :D

[2021-10-06 13:39] curquiza opened #182 "Method to get all the indexes should return a list of instance"
Currently, the `get_all_indexes` method returns a raw list of object, but not a list of `Index` instance. This is the only index-related method that does not return an `Index` instance.

An instance is more convenient to manipulate than a raw object. See this [example](https://github.com/meilisearch/meilisearch-python/issues/258#issuecomment-835866135).

TODO

- [ ] Change the return of the curren

[2021-10-06 14:05] curquiza opened #183 "Add methods to automatically add/update documents in batches"
We need methods to add and update the documents of MeiliSearch in batch instead of letting the users call `addDocuments` in a loop.

- [ ] Add `addDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add `updateDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-pytho

[2021-10-06 14:22] curquiza opened #184 "Test `filter` in search method with a value containing spaces"
Add a test to check the `filter` parameter can work with values containing spaces

Example:
[code]

Related to https://github.com/meilisearch/integration-guides/issues/30

[2021-10-07 19:36] vishnugt commented on #182
I can see that `list_all_indexes` and `get_indexes` already returns a Vector of Index Objects.
![image](https://user-images.githubusercontent.com/7014475/136450134-e6f93456-e7d9-4def-8dba-3f9b93f79115.png)
![image](https://user-images.githubusercontent.com/7014475/136450194-4bb22533-6787-4d15-bd54-7fa737a965af.png)

Though there isn't a method like `get_all_raw_indexes`, can I take this up and sen

[2021-10-10 18:16] curquiza opened #187 "Add `updatedAt` and `createdAt` to `Index`"
When manipulating indexes (get/create/update), the MeiliSearch server returns the following information related to the index:
- `uid`: the uid of the index
- `primaryKey`: the primary key of the index
- `updateAt`: when the index has been updated
- `createdAt`: when the index has been created

This SDK, when manipulating indexes (get/create/update) returns an instance of `Index` which already cont

[2021-10-10 18:41] curquiza opened #188 "Add method to get the raw index information"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2021-10-10 21:08] ginglis13 commented on #188
Hi, I'd like to work on this issue. is the requested object/struct/dict of the MeiliSearch response to be returned from the `get_raw_index` meant to be a JsonIndex object ?

[2021-10-11 17:45] curquiza commented on #184
Hello @nidble
Yes you can! Thank you

[2021-10-11 18:33] #184 closed

[2021-10-12 09:39] curquiza commented on #182
Thank you @vishnugt!

[2021-10-19 13:28] curquiza opened #191 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-19 16:07] curquiza opened #192 "Add a search example with `filter` in README"
⚠️ This issue is generated, please adapt the example to the repository language.

Related to: https://github.com/meilisearch/integration-guides/issues/136

In the README, we want to add the `Custom Search With Filters` sub section in the `Getting Started` section to make the users are aware of filtering.

This should
- be placed right after the `Custom Search` sub section
- contain the following c

[2021-10-20 08:29] curquiza opened #194 "Replace Docker examples with `curl` examples"
Discussion and motivations here: https://github.com/meilisearch/integration-guides/issues/145

---

Two examples to run MeiliSearch are present in our repository documentations:

- in the README.md, in the `Installation section`.
- in the CONTRIBUTING.md, in the `Development Workflow` section.

TODO: change both examples **in README.md and CONTRIBUTING.md** the same way as we have already done it

[2021-10-20 10:44] curquiza commented on #194
Hello @Anubha13kumari

Thanks for your interest in this project :)

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://git

[2021-10-20 16:27] curquiza opened #196 "Update .code-samples.meilisearch.yaml"
Following https://github.com/meilisearch/documentation/pull/1214, we would like to apply some changes in the `.code-samples.meilisearch.yaml` file at the root of the repository

- Regarding `get_distinct_attribute_1`, `update_distinct_attribute_1` and `reset_distinct_attribute_1`: if present, the index name should be `shoes`
- Regarding `update_distinct_attribute_1`: the distinct attribute passed

[2021-10-22 19:30] #196 closed, assigned to nobody

[2021-10-25 11:43] #194 closed, assigned to nobody

[2021-11-02 13:05] #192 closed

[2021-11-02 14:47] curquiza commented on #176
Closed by #179

[2021-11-02 14:47] #176 closed

[2021-11-02 14:50] curquiza opened #202 "Add a custom search example in README"
We need a section `Custom Search` in the README.
This section should be between `Basic Search` and `Custom Search With Filters`

The section should be the same as the one in [this README](https://github.com/meilisearch/meilisearch-ruby#custom-search-) but with a Rust example instead of the Ruby one of course.

[2021-11-02 14:53] curquiza opened #203 "Use `wait_for_pending_update` method instead of `sleep`"
In our test suite, we use the `sleep` method to wait for the task to be processed by MeiliSearch.
We should use `wait_for_pending_update` instead, which ensures the task is really completed before starting the next operation.

[2021-11-08 18:36] curquiza opened #206 "`formatted_result` handling"
Should be done once https://github.com/meilisearch/meilisearch-rust/pull/201 is merged

Since v0.24.0, MeiliSearch does not return the exact document in the `_formatted` object.

Example
With this document
[code]

and this search

[code]
I get:

[code]

It means `formatted_result` (in `src/search.rs`) cannot be a `Option<T>` anymore.
I replaced it with `Option<Map<String, Value>>` in this PR https

[2021-11-23 16:52] bidoubiwa opened #212 "Update .code-samples.meilisearch.yaml"
Related to https://github.com/meilisearch/integration-guides/issues/155

Following the documentation issue (https://github.com/meilisearch/documentation/issues/1290) and PR (https://github.com/meilisearch/documentation/pull/1214) an additional code-sample must be added in the .code-samples.meilisearch.yaml file at the root of the repository.

### Information:

Using the following information the c

[2021-12-07 17:03] #212 closed

[2021-12-10 15:40] gtsiam opened #217 "Clone for Client"
**Description**
I need `Clone` for `Client` to use it in an axum server. Since the internal data all uses `Rc`, this seems to have just been forgotten.

**Other**
I'll just submit a pr, this is a few seconds to do

[2022-01-20 17:54] eburghar opened #220 "parse error on get_version() when meilisearch has been built from archive"
**Description**
Meilisearch has been build from a github archive, without setting COMMIT_DATE and COMMIT_SHA environment variable before building, and as a consequence (pr#1636), commit and date are set to 'unknown'.

**Expected behavior**
get an unknown date (epoch?) and hash (000...?)

**Current behavior**
Error
[code]
**Environment (please complete the following information):**
- OS: Alpine 3.1

[2022-01-20 19:20] eburghar commented on #220
sorry for the noise, just saw that the 1.0.0rc1 is older than 0.25.2

[2022-01-20 19:20] #220 closed

[2022-01-21 22:15] moises-marquez opened #221 "The code sample for sortable attributes is incorrect"
**Description**
The code sample for sortable attributes is showing unrelated code.

**Expected behavior**
A code sample in Rust that follows the code samples found for other languages

**Current behavior**
The code sample shows code unrelated to the feature in question

[2022-01-25 13:41] #221 closed

[2022-01-25 13:42] curquiza commented on #221
Thanks @moises-marquez!! :)

[2022-02-08 15:28] irevoire opened #226 "Use chrono"
Use chrono to deserialise everything related to date and timestamp

[2022-02-08 17:59] irevoire commented on #226
How is it not maintained? I can’t find anything about it?
And since [MeiliSearch already use it](https://github.com/meilisearch/meilisearch/blob/main/meilisearch-lib/Cargo.toml#L15), if there is any problem with chrono it’s going to crash MeiliSearch before it crashes the sdk no?

[2022-02-08 20:42] Mubelotix commented on #226
Look at their inactive github repo. Nobody answers issues and nobody fixes them. Dependencies are critically outdated. A vulnerability was found in chrono a few months ago and extreme fear began to spread in the rust community. I'm not even sure it's fixed now. I really hope this problem is solved soon but as of today, I don't think one should use chrono.

[2022-02-09 00:06] irevoire commented on #109
Closed by #225

[2022-02-09 00:06] #109 closed

[2022-02-09 00:06] irevoire commented on #29
Closed by #225

[2022-02-09 00:06] #29 closed

[2022-02-09 00:06] irevoire commented on #217
Closed by #225

[2022-02-09 00:06] #217 closed

[2022-02-09 12:13] irevoire commented on #226
Hey @Mubelotix, I was scrolling on the chrono issues, and I’ve seen most people are moving to [time](https://github.com/time-rs/time); what do you think of this one?
From what I see, it should be enough for us, and chrono was actually depending on it.

[2022-02-10 12:40] lionkeng opened #230 "Seeing an error with Request succeeded but failed to parse response Some(ParseError(Error("missing field `updateId`", line: 1, column: 121)))"
**Description**
Created a simple rust program that basically runs the example from the documentation.
[code]
**Expected behavior**
No error when adding document.

**Current behavior**
ERROR meilisearch_sdk::request: Request succeeded but failed to parse response
Ran into error Some(ParseError(Error("missing field `updateId`", line: 1, column: 121)))

**Screenshots or Logs**
If applicable, add scre

[2022-02-10 14:06] irevoire commented on #230
The meilisearch-rust SDK is not compatible with the latest version of meilisearch right now.
All the code has been written, though, and a new release should be published in a few hours/days.

If you want to test the code right now you can access it on the [bump-meilisearch-v0.25.0](https://github.com/meilisearch/meilisearch-rust/tree/bump-meilisearch-v0.25.0) branch

[2022-02-10 14:15] irevoire commented on #203
This has been implemented in #225

[2022-02-10 14:15] #203 closed, assigned to nobody

[2022-02-10 15:13] irevoire commented on #230
Huum no, in the latest update of Meilisearch, the creation and deletion of indexes is now asynchronous so you don’t get an Index anymore when calling `create_index`.
You can do something like that though:
[code]

[2022-02-10 17:40] #230 closed

[2022-02-14 13:48] irevoire opened #238 "Improve the test macro"
Currently, our [test macro](https://github.com/meilisearch/meilisearch-rust/tree/main/meilisearch-test-macro) is missing two big features:
- [ ] It should catch all panic and delete the created `Index` if there was one and then output the panic normally to make the test fail
- [ ] It should be able to understand path in the arguments

[2022-02-14 13:55] irevoire opened #239 "Builder pattern for modifying the Key"
We should provide a kind of builder design for the `Key` as we have for the `BuilderKey`.

If we can do that to create a key:
[code]

We shouldn’t have to do that to update a key:
[code]

We should instead do something like that:
[code]

[2022-02-14 13:57] irevoire opened #240 "Allow the creation of a `Client` without any API Key"
Currently, we can’t create a `Client` without any API `Key`.
But when you’re using meilisearch in development you can totally launch your instance without any API `Key`.
There is no reason to not support that.

Since we introduced the `Authentication: Bearer {api_key}` header, sending an empty `api_key` doesn't work anymore, which means it's impossible to use this SDK without an API key.

[2022-02-14 14:05] irevoire commented on #187
To implement that you should create two new `Option` fields in the `Index` to represents the `created_at` and `updated_at` field of the Json.
Once this is done you can update the `fetch_info` methods so instead of returning a `JsonIndex` it update the field inside of the `Index`.

Currently, in the rust-sdk there is no `primary_key` either, so if you decide to implements this issue it would be gre

[2022-02-16 11:34] curquiza opened #242 "Cannot compile locally (works in the CI)"
I get an error when compiling locally:

[code]

More info:
- I've done `rustup update`
- My versions:
[code]

[code]

The CI work and seems to compile without any issue

[2022-02-16 13:05] sanders41 commented on #242
@curquiza I can build without errors. If you run `cargo clean` before building does it make a difference?

[2022-02-16 13:24] irevoire commented on #242
Yeah I can’t reproduce either and it seem like the issue is coming from a dependency (`pin-project-internal`) so my guess is also that it’s a problem with incremental compilation and a cargo clean should fix it.

[2022-02-16 14:59] curquiza commented on #242
I did cargo clean and then cargo build but I still have the error
I removed the repo and cloned it again, now it works. Don't have the time to understand why 😅

Sorry for this issue, I'm closing it

[2022-02-23 20:18] moy2010 commented on #230
I'm getting a similar error when adding the settings:

`ParseError(Error(\"invalid type: map, expected u64\", line: 0, column: 0))`

The code looks like:

[code]

I'm suspecting that somewhere down the line there's an invalid type cast to u64, but couldn't find any :/.

[2022-02-24 10:56] irevoire commented on #230
Sorry for the huge delay I totally missed your message!
`try_make_index` is supposed the client as an argument, you can see the documentation [here](https://docs.rs/meilisearch-sdk/latest/meilisearch_sdk/tasks/enum.Task.html#method.try_make_index) with a little example.
And I updated my comment thanks :+1:

------------

@moy2010 I tried to reproduce your issue but I don't know how to do!
Could yo

[2022-02-24 11:24] irevoire opened #246 "Better import path"
**Description**
It's quite boring to start every file with `use meilisearch_sdk::{document::*, client::*};`
It would be better if in the `lib.rs` we were re-exporting every structure like that:
[code]
**Basic example**

And thus let us (=the users) write import like that;
[code]

Or if you want a few basic structure structures:
[code]

**Other**

Also, I never remember which module name is plural

[2022-02-24 11:38] irevoire opened #247 "Create more examples"
**Description**
It would be great to add more well-commented examples to show how to use this crate.

**Basic example**
See #245

**Other**
A new release of rust-doc should come out in some months that automatically scrap the content of our `examples` directory to show how to use each function, so adding more examples would also improve the documentation significantly.

Since the feature is still

[2022-02-27 10:40] moy2010 commented on #230
Hi, @irevoire . I run your example, but it didn't fail. Although, I've narrowed down where the error comes from in my case.

I mistakenly thought that it was coming from when setting the settings, but it's in fact coming when creating the index (`client.create_index`), specifically when parsing the response body:

[code]

I can see in the console `"Request succeeded but failed to parse response"`

[2022-02-27 11:07] irevoire opened #248 "Error when parsing error status on index creation"
Hi, @irevoire . I run your example, but it didn't fail. Although, I've narrowed down where the error comes from in my case.

I mistakenly thought that it was coming from when setting the settings, but it's in fact coming when creating the index (`client.create_index`), specifically when parsing the response body:

[code]

I can see in the console `"Request succeeded but failed to parse response"`

[2022-02-28 19:00] moy2010 commented on #248
Yup, v0.25.2 with the Rust client 0.15 :(

But no worries, @irevoire. This is not hindering me :). Thanks for putting some time into the investigation!

[2022-03-06 12:37] moy2010 commented on #248
An update on this:

After upgrading my Actix web server to v4.0.1 and the rest of the ecosystem (Tokio, Reqwest, etc.), the errors went away. I'm suspecting that some transitive dependency from the Meilisearch package was resolving to the older version that I was depending on, and this was causing the payload parsing issues being returned by the SDK.

[2022-03-06 17:22] irevoire commented on #248
Oh good to hear, closing then!
Thanks for the feedback :heart:

[2022-03-06 17:22] #248 closed

[2022-03-13 21:22] ChillFish8 opened #250 "Make the `sync` feature enabled by default."
Currently, you can enable the `sync` feature manually however, this doesn't massively make sense to have as an opt-in thing when it's originally targeting the Tokio ecosystem where most systems will likely be using the multi-threaded runtime.

In the case that they *are* using a single-threaded runtime and are at the point of wanting to save on the atomic cost, then they can opt-out. Although the

[2022-03-15 18:45] brunoocasali commented on #250
Having a small conversation with @irevoire we agreed that is a good addition to the package!

Feel free to submit a PR @ChillFish8 😄

[2022-03-15 18:47] irevoire commented on #250
Yeah, you can remove the feature entirely and use `Arc` by default everywhere :+1:

[2022-03-21 15:38] brunoocasali opened #252 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-03-22 10:20] LukasKalbertodt commented on #7
I'm not sure why this issue was closed. The referenced commit doesn't fix it and in version `0.15.0`, neither `errors::Error` nor `errors::MeilisearchError` implement `std::error::Error`. This makes it really inconvenient to do error handling properly.

[2022-03-31 11:00] Mubelotix commented on #226
Hi @irevoire, sorry for the late reply; notification got lost. That's exactly what I was going to suggest after reading [this thread](https://www.reddit.com/r/rust/comments/ts84n4/chrono_or_time_03/?utm_medium=android_app&utm_source=share)

[2022-03-31 11:02] irevoire commented on #226
Well now it’s done 👍

[2022-04-06 16:31] bidoubiwa opened #255 "Remove Document trait asking for UIDType"
Currently to communicate a primary key on document addition the document structure must implement the following trait:

[code]

Here `UIDType` is the primary key.  This trait is not very intuitive and makes the code harder to use than it should be.
The naming is not very clear and it requires an additional step of implementation on all document addition even when the user does not need to communic

[2022-04-06 16:40] irevoire commented on #255
Yep, I really don't see why we should have this trait instead of simply accepting anything that implements `Serialize` / `Deserialize`.
Also, the `get_uid` method is not even used to « guess » the primary key by meilisearch.
I don't know why we have this and I think we should remove it.

If you have the time I would love to hear what you think of it @sanders41 or @Mubelotix :grin:

[2022-04-06 18:04] sanders41 commented on #255
I don't know of any reason it is really needed. @Mubelotix may know some history that I am not aware of that makes it necessary.

[2022-04-11 19:47] brunoocasali opened #260 "Add support to the typo tolerance customization"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/190
- specification: https://github.com/meilisearch/specifications/pull/117

----

[2022-04-12 17:40] #252 closed

[2022-04-16 06:58] abhizer commented on #187
Hi! I'm looking to contribute and had a question!
@irevoire  Is the suggestion to change the return type of `fetch_info()` from `Result<JsonIndex, Error>` to `Result<(), Error>` and just update `self`? So, something like this:
[code]
I was thinking if `fetch_info` could update `self` and return `JsonIndex` as well?
Because:
Changing the return type of `fetch_info` would mean that methods that depe

[2022-04-19 13:06] irevoire opened #265 "Send documents as jsonlines"
**Description**
All the functions that create or update documents should send jsonlines instead of a JSON array.

**Why**
That's faster to process by meilisearch and consumes less memory.

**How**
Currently, the issue is that when we send a POST or PUT request in the SDK, [it's automatically flagged as JSON](https://github.com/meilisearch/meilisearch-rust/blob/main/src/request.rs#L129-L139).
We ne

[2022-04-19 16:15] irevoire opened #266 "Integrate the filter parser as a macro"
Just an idea I would like to explore to get a compile-time check on the filters with good error messages

[2022-04-20 12:23] salugi commented on #247
I'll take this issue

[2022-04-20 16:52] salugi commented on #247
@irevoire
thank you, I appreciate the help.
Seeing the example, it has an already running instance of meilisearch. Can I write a simple lib that requires the local melisearch server to be running kinda akin to the quick start?
What kind of assumptions should I make about the user looking at the example?
I'll take a little time to think of a good/cohesive example.

[2022-04-20 16:56] irevoire commented on #247
Usually, for all the SDK, we assume there is a running instance on localhost:7700 with the `--master-key masterKey`.

[2022-04-21 12:50] irevoire commented on #187
Hey @abhizer, sorry for the delay!

There are a lot of things with this issue. *PERSONALLY* and I may be wrong, this is how I see the thing;

First;

Yes, you're right.

Second, we should get rid entirely of the `JsonIndex` structure.
When you ask for a « raw » index in all the other SDKs, what you get is *the* JSON. Thus we should return a `serde_json::Value`. Maybe we could return a `serde_json:

[2022-04-21 13:47] sanders41 commented on #187
@irevoire I just have a quick minute and will come back and look at this closer when I have more time. For now [this discussion](https://github.com/meilisearch/meilisearch-python/issues/258) we had on the Python client may provide some insight here.

[2022-04-21 13:52] irevoire opened #268 "Create a macro to ease the configuration of indexes"
**Description**
It would be cool if we could somehow create a kind of builder macro but with the [settings of Meilisearch](https://docs.meilisearch.com/reference/api/settings.html#all-settings).
Some settings do not apply here; you can't set your stopwords or synonyms from a document for example.
But anything related to a field should be handled without any issue I think :thinking:

**Basic exampl

[2022-04-21 16:51] abhizer commented on #187
@irevoire I think returning `Value` from `get_raw_index` makes sense from one point of view, but from another, doesn't the name `get_raw_index` feel a little misleading? Cause we're converting `Index` to `Value` and there's no "raw" element to it, ie, we aren't directly returning the piece of JSON returned by meilisearch (although the "raw" JSON returned by meilisearch is *probably* the same as th

[2022-04-21 17:01] irevoire commented on #187
Ah but yes, but to me, the `get_raw_index` should return the `Value` directly without deserializing it in any way for the reasons you stated.

Something like that;
[code]

Would that look correct to you?

[2022-04-21 17:41] abhizer commented on #187
Oh yes, that makes a lot of sense actually!

So, the todolist for this change would be:

- [ ] Add fields `updated_at`, `created_at` and `primary_key` to `Index`
- [ ] Make `get_raw_index` return the raw `Value` that's returned by Meilisearch
- [ ] Update `fetch_info` to update `Index` instead of returning `JsonIndex`
- [ ] Remove `JsonIndex` and update everything (like `get_raw_index`) that relie

[2022-04-21 17:44] irevoire commented on #187
Yep I think you're right :rocket:
Thanks a lot you're the best :grin:

[2022-04-22 01:41] #255 closed

[2022-04-22 11:06] sanders41 commented on #187
Just getting a chance to come back to this. Nothing really to add other than to say this plan sounds like a good one to me.

[2022-04-23 09:52] salugi commented on #247
@irevoire hey, I've been reading through the documents and I started a command line example. I'm going to add some more as I read more through the document. If you could take a look at it quick, it would be much appreciated. I built a repo so I could work on it.
[my repo](https://github.com/salugi/meilisearch-rust-example)

What I'm unsure of:
Is this a good start?
Are the ranking rules wrong? In

[2022-04-25 16:18] irevoire commented on #238
Super cool, I think we can keep the issue open, though because deleting the index at the end of the tests is faster. We don't need to wait until the update is processed and can let meilisearch process his tasks.

Also there was a second point in the issue :grin:

[2022-04-25 16:21] bidoubiwa commented on #238
Are you suggesting deleting the index only at the end of all the tests or at the end of every test?

Oh sorry, I thought it was linked!

[2022-04-25 17:18] brunoocasali commented on #238
It is not a good thing to delete it after the test because if something happens before the test finishes, we will have an unwanted state. Since we are testing e2e we need to rely on the Meilisearch instance for everything, otherwise, we probably will end with a flaky test.

Good reference about the subject: https://docs.cypress.io/guides/references/best-practices#Using-after-or-afterEach-hooks

[2022-04-26 11:19] irevoire commented on #238
Oooh, interesting. Thanks for the insight!
Currently, the macro deletes the index if no error happens.

[2022-04-26 11:28] irevoire commented on #247
Hey @salugi, just to be sure, do you want to merge this into meilisearch-rust, or do you want to keep the maintenance for you, and we could put a link to your repo in our readme?
Personally, I would prefer it if we could put your example in our `examples` directory; we'll ensure that it always compiles and it'll be easier for our users to find the example :grin:

I'll answer your question and make

[2022-04-26 13:27] bidoubiwa opened #276 "Why does `attributes_to_crop` has a different prototype than `attributes_to_highlight`"
[`attributes_to_crop`](https://docs.meilisearch.com/reference/api/search.html#attributes-to-crop) and [`attributes_to_highlight`](https://docs.meilisearch.com/reference/api/search.html#attributes-to-highlight) have the same type as per the documentation

https://github.com/meilisearch/meilisearch-rust/blob/0d1a82e55a84dd65a417b5a8414bc3839f7b5245/src/search.rs#L175

and here

https://github.com/me

[2022-05-03 17:03] salugi commented on #240
What would the default behavior be for instantiating the client in regards to the api_key field on the Client struct be?
I might be able to take this issue.

[2022-05-03 18:03] irevoire commented on #240
I think we should change the `Client` struct to take an `Option<String>` for the API key.
And then, for _every_ request, when we send a request, we check if an API key is defined, and if there is none, we don't send the `Authorization` field at all.

[2022-05-03 18:49] salugi commented on #240
alright, I'll take this.

[2022-05-05 13:32] bidoubiwa opened #280 "Flacky test_fetch_info"
**Description**
The following is a flacky test:

https://github.com/meilisearch/meilisearch-rust/blob/09f9eb5baac017b1b0a820c4646dd671ac883de3/src/client.rs#L944-L947

See the following github-action: https://github.com/meilisearch/meilisearch-rust/runs/6306804797?check_suite_focus=true

Not sure when it was introduced

**Expected behavior**
Always succeed

**Current behavior**
Regularely fail.

A

[2022-05-05 13:41] irevoire opened #281 "Flacky test_list_all_indexes_raw test"
**Description**
The following is a flacky test:

https://github.com/meilisearch/meilisearch-rust/blob/09f9eb5baac017b1b0a820c4646dd671ac883de3/src/client.rs#L936-L941

See the following github-action: https://github.com/meilisearch/meilisearch-rust/runs/6304373859?check_suite_focus=true

Not sure when it was introduced

**Expected behavior**
Always succeed

**Current behavior**
Regularely fail.

A

[2022-05-05 13:49] #187 closed

[2022-05-09 23:27] salugi commented on #126
Given the new version of the rust sdk, the Document trait is no longer needed. How would that change affect this?

[2022-05-17 10:32] abhizer commented on #239
So, do we just implement these methods for `Key` such that they return `&mut self` and can be used in the builder pattern?

[2022-05-17 12:09] irevoire commented on #239
Yep, this one is not that hard I just don't have the time to tackle it :+1:

[2022-05-17 17:46] irevoire commented on #239
With the v0.27.x on main?

[2022-05-17 17:54] abhizer commented on #239
Yes.

[2022-05-17 21:58] salugi commented on #239
I got an email for this and I still have 12 tests failing even after doing a clean fork, how would i go about updating sdk? I fetched the latest from upstream.
These are failing for me and I can't understand why
[code]

[2022-05-25 17:20] #239 closed

[2022-05-25 17:20] irevoire opened #291 "Add cargo fmt to the CI"
We should add `cargo fmt` to the CI once meilisearch/meilisearch-rust#289 is merged

[2022-06-06 10:33] bidoubiwa opened #296 "primary key in the update index method should be optionnal"
**Description**

Currently the method to update an index requires a primary key as per the method definition:
[code]

As an example:

[code]

**Expected behavior**
In Meilisearch the update route accepts no primary Key field being defined, or one set to null. [See spec](https://specs.meilisearch.com/specifications/text/0132-indexes-api.html#_3-2-4-put-indexes-index-uid).

**Current behavior**
The

[2022-06-06 10:38] bidoubiwa commented on #291
As #289 has been closed, a PR to format the code is required before adding cargo fmt to the CI.

For those who wants to contribute to the formating of this repo you can re-use the code from this PR #289. They have been mostly reviewed and only required small additional changes

[2022-07-11 18:13] phdavis1027 commented on #296
I'll mess around with this!

[2022-07-12 11:14] lain-ke opened #300 "Missing field `nbHits`"
**Description**
After updating `meilisearch` to 0.28.0 I get the following error: missing field `nbHits`. (I have already updated the Rust SDK).

**Expected behavior**
As before the update, the search function should work as usual.

**Current behavior**
I get the error "missing field `nbHits`", probably because of the name change.

**Screenshots or Logs**
Not applicable

**Environment (please comp

[2022-07-12 11:59] bidoubiwa commented on #300
Hello @lain-ke

Unfortunately this package is not yet compatible with v0.28.0. On the next release of the package it should be compatible :)
Once #297 is merge it will be compatible

[2022-07-13 21:23] matthias-wright commented on #265
I would like to work on this, is this issue still current?
Can the meilisearch server already handle requests that send jsonlines?

[2022-07-13 22:16] irevoire commented on #265
Hey @matthias-wright, yes thanks for your interest, this hasn't been implemented.
Meilisearch can handle jsonlines **IF** you set the good content-type and only on the POST and PUT route 👍

[2022-07-15 10:39] SorenHolstHansen opened #302 "Use "_geo" in example rather then "geo""
The example on https://docs.meilisearch.com/learn/getting_started/filtering_and_sorting.html#settings uses "geo" rather than "_geo". It should use "_geo" to follow convention

[2022-07-16 18:12] brunoocasali opened #304 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:18] brunoocasali opened #305 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-20 09:55] #302 closed

[2022-07-25 22:48] matthias-wright commented on #304
I would like to work on this. Is it still up for grabs?

[2022-07-26 16:21] biot023 opened #307 "ERROR meilisearch_sdk::request] Request succeeded but failed to parse response"
**Description**
SDK fails to parse Meilisearch success response

**Expected behavior**
No error

**Current behavior**
ERROR meilisearch_sdk::request] Request succeeded but failed to parse response
Error object: `ParseError(Error("missing field `uid`", line: 0, column: 0))`

**Environment (please complete the following information):**
- OS: [e.g. Debian GNU/Linux]
- Meilisearch version: v.0.28.0
-

[2022-07-26 20:03] matthias-wright commented on #307
Hi @biot023, this package is not yet compatible with v0.28.0 (see [here](https://github.com/meilisearch/meilisearch-rust/issues/300#issuecomment-1181671272)). Downgrading to v0.27.0 should do the trick :)

[2022-07-27 08:56] biot023 commented on #307
Ah, okay, thank you. For the record, I had issues with 0.27.1, too, but didn't try 0.27.0.
I don't recall the exact issues, sorry -- I was very tired by then! :)
In the meantime, a lot of work was done on our frontend against 0.28.0 so I've swapped out to the HTTP library for the backend project to preserve that.
Thanks again for getting back to me, it's really appreciated.

[2022-07-29 05:22] AceofSpades5757 opened #308 "Panics during search with a 'Headers' error"
**Description**

When trying to query an index, Rust panics. I haven't seen any other issues on this so I have to assume it has something to do with my current configuration. I've had this issue in the past and simple used the HTTP API instead.

[code]

**Expected behavior**

To receive results.

**Current behavior**

Rust panics. This is the console logs from the dev tools.

[code]

**Environment

[2022-07-31 05:07] cseblog commented on #300
Looking forward to this patch. I am also facing the same issue.

[2022-08-01 14:03] bidoubiwa commented on #308
This seems to be caused by wasm, @irevoire do you have any idea of the issue?

[2022-08-02 08:37] irevoire commented on #308
no idea, I guess it has something to do with these two lines;
https://github.com/meilisearch/meilisearch-rust/blob/main/src/request.rs#L109-L110

You were telling me it’s illegal to update the user-agent in chrome, maybe we should not do it. Or at least ignore the result if it fails.

[2022-08-02 09:35] bidoubiwa commented on #308
This seems very plausible! I will look into this :) Thanks for raising the issue @AceofSpades5757

[2022-08-03 10:19] bidoubiwa opened #311 "Use thiserror to handle errors"
⚠️ Do not start contributing to this issue before this PR is merged: #297

Currently we are implementing all our errors by hand.

Exemple:

https://github.com/meilisearch/meilisearch-rust/blob/6f98caff09c2439002ac53307d1748a849c9e600/src/errors.rs#L58-L68

This would be way more simple using the [thiserror](https://docs.rs/thiserror/latest/thiserror/) library.

[2022-08-20 12:24] ryanrussell opened #314 "feat(docs): Fill in missing [lang] SDK examples"
## Goal
Fill in missing Rust [lang] examples in the docs.

## Problem
This was inspired by finding that the `facets` example was missing a `Rust` tab.

This likely exists with other example and language combinations

## Background
Just noticed there some rust sdk snippets in the docs examples are missing:
https://docs.meilisearch.com/reference/api/search.html#facets

It would be nice to have a 'Ru

[2022-08-21 20:46] BuyMyMojo commented on #300
Any eta on this patch?

[2022-08-22 10:03] bidoubiwa commented on #300
Not yet, we are working on it

[2022-08-24 17:21] bidoubiwa commented on #304
Hey @matthias-wright, absolutely! Thanks and sorry for the late reply. Before you start, you have to wait until this PR #297 is merged

[2022-08-29 10:04] bidoubiwa commented on #305
From [this list](https://github.com/meilisearch/integration-guides/issues/208) the following code-samples needs to be added as well:

-  get_faceting_settings_1: |-
-  update_faceting_settings_1: |-
-  reset_faceting_settings_1: |
-  settings_guide_faceting_1: |-

[2022-08-29 10:04] bidoubiwa commented on #304
From [this list](https://github.com/meilisearch/integration-guides/issues/208) the following code-samples needs to be added as well:

- get_pagination_settings_1: |-
- update_pagination_settings_1: |-
- reset_pagination_settings_1: |-
- settings_guide_pagination_1: |-

[2022-08-30 14:19] bidoubiwa opened #327 "Newline consistency in code-samples"
In the [.code-samples.meilisearch.yaml](https://github.com/meilisearch/meilisearch-rust/blob/main/.code-samples.meilisearch.yaml) file some samples are one-liners and some are split in newlines.

We would like to create consistency between these examples.

Because newline is more easy to read, the idea is to change every one liner in a multiple line command.

For example:

[code]

Becomes
[code]

[2022-08-31 14:38] bidoubiwa commented on #314
Hey @ryanrussell

Since the repository is now compatible with v0.28.0, the code-samples are up to date on the documentation :)

Closing as it is fixed.

[2022-08-31 14:38] #314 closed

[2022-08-31 14:41] bidoubiwa commented on #296
Fixed by #315

[2022-08-31 14:41] #296 closed

[2022-08-31 14:42] bidoubiwa commented on #300
Fixed with the [last release](https://github.com/meilisearch/meilisearch-rust/releases/tag/v0.18.0) :)

`nbHits` is now named `estimatedTotalHits`

Closing as it is fixed

[2022-08-31 14:42] #300 closed

[2022-08-31 14:43] bidoubiwa commented on #307
The last release is now compatible with v0.28.0!
The bug should be fixed if you are using meilisearch v.0.28 and this crate v0.18.0

[2022-08-31 14:43] #307 closed

[2022-08-31 14:43] bidoubiwa commented on #281
Fixed with #315

[2022-08-31 14:43] #281 closed

[2022-08-31 15:09] bidoubiwa opened #332 "Change name of Query struct to SearchQuery"
Currently when making a search request the user has to create a `Query` structure. Nonetheless, the naming is not very clear as it could be a query on `get_indexes` or any other routes that returns multiple resources.

To make it more understandable, the `Query` structure should be renamed `SearchQuery`

[2022-09-07 14:05] #308 closed

[2022-09-07 18:25] Jasperav opened #336 "Why is the api_key and host wrapped inside an Arc?"
I don't see any calls to `Arc::clone` in the code. Why aren't the two properties just `String`?

[2022-09-08 10:26] Jasperav opened #337 "Sorting order is not correct"
When querying the database with this SDK, the sorting order is different than using the Rest API:

**Index**
[code]
**Settings**
[code]
**Documents through Rest Api**
Url: http://127.0.0.1:7700/indexes/users/search
POST request
Body:
[code]
Result:
[code]

**Documents through Rust SDK**
Code:
[code]
Result:
[code]

**Problem**
Last two user_id's are swapped

**Raw documents**
[code]

[2022-09-08 12:29] bidoubiwa commented on #337
Hello @Jasperav! Thanks for raising this issue.
The only reason that I can see for this bug is that the SDK alters the search query parameters before making the request. Which should not happen!

I'll have to look into this! I'm going on holiday soon so it might take a while. If you have time could you print the query parameters just before the request?

[2022-09-08 12:32] bidoubiwa commented on #336
They indeed should be changed to regular String! This is a refactor that we started doing but has not been applied yet on the Client struct.

If anyone wants to contribute to change their type to regular strings that would be very nice :)

[2022-09-08 12:45] Jasperav commented on #337
@bidoubiwa Thanks for the quick response. This is the `trace` logging below. As you can see, the query parameters are correctly sent. I would also like to mention that when I have 2 users in `Meili`(instead of 3), the users are swapped compared to the Rest API. It looks like it is swapping the last 2 elements.

Logging:

[code]

[2022-09-08 12:50] Jasperav commented on #336
@bidoubiwa Sure, see https://github.com/meilisearch/meilisearch-rust/pull/338

[2022-09-09 11:40] #336 closed

[2022-09-27 15:11] bidoubiwa commented on #337
Hey @Jasperav
Sorry I left on hollidays! I'll have to investigate and try to reproduce locally. I'll keep you updated here :)

[2022-09-27 15:16] bidoubiwa commented on #206
Fixed by #205

[2022-09-27 15:16] #206 closed

[2022-09-27 15:17] bidoubiwa commented on #202
Fixed by #211

[2022-09-27 15:17] #202 closed

[2022-09-27 15:20] bidoubiwa commented on #162
Some tests were added but more should be added: https://github.com/meilisearch/meilisearch-rust/blob/dbd0c17301faa0683bc6e7460e5a696c76864dd9/src/errors.rs#L231

[2022-09-27 15:21] bidoubiwa commented on #144
Fixed!

[2022-09-28 15:10] #332 closed, assigned to nobody

[2022-10-04 14:52] VoidCupboard commented on #246
Hi! Can I work on this issue?

[2022-10-05 11:52] #305 closed

[2022-10-05 12:58] VoidCupboard commented on #240
So, is this issue still up for grabs?

[2022-10-06 01:40] VoidCupboard commented on #291
Hi! Can you explain this issue a bit more? Maybe I will be able to take it

[2022-10-06 07:50] VoidCupboard opened #346 "Using Self rather than writing the Struct name"
Currently, for every Struct initialization, the name of the struct is used as the return type.
Rust supports `Self`, which denotes the Struct itself (https://doc.rust-lang.org/reference/paths.html#self-1)

Example:

In `src/client.rs`
[code]
Rather than writing `Client` as a return type, it can be replaced with `Self` which denotes the `Client` struct itself.

# Benefits:
- flexibility: If you dec

[2022-10-06 08:38] bidoubiwa commented on #291
`cargo fmt` checks the style of your code. The issue must be updated as the PR that was supposed to format the code was closed.

So the idea is
- [ ] format the code using `cargo fmt`
- [ ] Add format test in the `tests.yml` ci

[2022-10-06 09:48] bidoubiwa commented on #291
See [example here](https://github.com/meilisearch/milli/issues/231)

[2022-10-06 09:58] VoidCupboard commented on #291
Thanks a bunch, @bidoubiwa!

[2022-10-06 12:54] #291 closed

[2022-10-10 11:03] #304 closed

[2022-10-10 14:44] bidoubiwa commented on #337
Thanks a lot @vishalsodani

It is an open issue https://github.com/meilisearch/meilisearch-rust/issues/260. The feature should be added!

[2022-10-11 10:48] brunoocasali opened #352 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-11 17:10] romilpunetha commented on #311
I can take this up.

[2022-10-12 09:00] bidoubiwa commented on #311
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-12 11:54] #352 closed

[2022-10-13 12:27] romilpunetha commented on #268
I'll try this.

[2022-10-16 19:29] romilpunetha commented on #268
Could you point me to the `Document` trait mentioned in the description? I can see a [mention](https://github.com/meilisearch/meilisearch-rust/blob/main/src/lib.rs#L230) in the `lib.rs` as well, but I'm unable to find its declaration in the code base. It's the only piece left in the implementation.

[2022-10-16 20:18] romilpunetha commented on #162
Doesn't #356 close this? If not, what more is required?

[2022-10-17 09:32] bidoubiwa commented on #162
Hey @romilpunetha . Thanks for the interest :)

I just checked, there seems to be a lot of new tests. If you don't find any relevant test to add, we can close this issue :)

[2022-10-17 11:40] bidoubiwa commented on #268
Hey @romilpunetha :) `Document` is a structure that you define yourself containing the structure of your documents!

For example
https://github.com/meilisearch/meilisearch-rust/blob/920cdd6975b243e37c934047e3d9f44cf212e0f8/src/search.rs#L399-L426

The mentioned lib is about the structures related to the documents API:

https://github.com/meilisearch/meilisearch-rust/blob/920cdd6975b243e37c934047e3

[2022-10-17 15:30] romilpunetha commented on #268
I don't think I did a good job of explaining the problem. Let me try again:

[code]
This part in the description of the issue states that a `Document trait` exists somewhere in the crates. I couldn't find the trait and the requirement is that this trait needs to be implemented for the structs with the macro. If this trait does not exist, I'll create it. If it does, I'm unable to locate it.
Or am I

[2022-10-17 15:47] bidoubiwa commented on #268
I think, from what I understand of the issue, is that `Document` does not exist and should be created with a better name.

 @irevoire can you clarify the situation?

[2022-10-17 21:18] romilpunetha commented on #162
I believe we can.
The only two error attributes that do not have a test case are `InvalidTenantToken` and `Yaup` because they were particularly hard to test. However, they are not used anywhere in the codebase. For all the other attributes tests exist.

[2022-10-18 11:00] bidoubiwa commented on #162
They are thrown by the external libraries. If you manage to test them, you can open a PR :)

[2022-10-18 20:48] brunoocasali opened #361 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-19 05:56] romilpunetha commented on #361
I'll add this.

[2022-10-19 17:59] romilpunetha commented on #162
@bidoubiwa Done.

[2022-10-24 14:21] #361 closed

[2022-10-25 09:02] #162 closed

[2022-10-27 14:24] Jasperav commented on #337
@bidoubiwa is there any timeline set for this issue?

[2022-10-31 17:12] bidoubiwa opened #367 "Dependabot does not suggest crates updates"
Unless the crates we are using are never updated, which I doubt, dependabot does not create automatic PR's to suggest an update.

We should find out why and fix it

[2022-10-31 17:24] bidoubiwa opened #368 "with_distrinct_attribute should accept `None` as a value."
**Description**
Currently `with_distinct_attribute` does not accept `None` as a value. Meaning that once you have set one distinct attribute you need to either user `reset_distinct_attribute` or create an empty string as value.

https://github.com/meilisearch/meilisearch-rust/blob/6c3a1d2c4acd482c4d57837bb4ee1f74c1d2c0b3/src/settings.rs#L188-L193

**Expected behavior**
`None` should be a valid typ

[2022-11-02 14:41] curquiza commented on #367
I tried to look for the issue, I don't find any...

Here is the old dependabot file we used in the past in Meilisearch, if it can help. I can confirm it was working and that's why we removed it 😂
https://github.com/meilisearch/meilisearch/pull/1652/files

[2022-11-03 11:28] bidoubiwa commented on #367
Thanks! It may be a good start

[2022-11-09 15:59] bidoubiwa opened #372 "Add documentation on builder methods."
Currently some builder methods across the code base do not have any documentation. See for example:

https://github.com/meilisearch/meilisearch-rust/blob/1e687c78d7d14e255474380db99b6b13941b8682/src/search.rs#L287-L303

It would be better if each of these methods are explained and showcase an example. As for example here

https://github.com/meilisearch/meilisearch-rust/blob/1e687c78d7d14e255474380

[2022-11-09 16:27] bidoubiwa opened #373 "Remove warning on doc compilation"
When running `cargo doc` a lot of warning are raised. For example

[code]

These should be fixed

[2022-11-13 19:23] Jasperav opened #378 "Move some debug logging to trace level"
My logs are overflowed with meilisearch logging. I think a lot of logging should be done at trace level rather than the debug level. Take a look for example:

[code]

This is what is logged when I try to update a field. I would expect at most 1/2 lines, not 7.

[2022-11-15 20:32] bidoubiwa commented on #378
Hey @Jasperav, thanks for the feedback. I think you might not be in the right repo. @curquiza can you confirm?

[2022-11-16 09:08] curquiza commented on #378
Hello @Jasperav and @bidoubiwa!

Yes, this is something you want to report to the product team, in the [product repository discussions](https://github.com/meilisearch/product/discussions) 😇

[2022-11-16 11:46] bidoubiwa opened #385 "Remove Options on task details fields"
Depending on which async action you are triggering, the `Details` fields of a Task can return different information. See [spec](https://github.com/meilisearch/specifications/blob/main/text/0060-tasks-api.md#4-details-field-object).
These field are always returned and are not `Optional`.

Thus, we should remove the Option. Example:

https://github.com/meilisearch/meilisearch-rust/blob/46d38e61ddf29

[2022-11-16 11:53] bidoubiwa opened #386 "Clippy error on struct size introduced by new rust version"
Since the last release of rust, a new clippy error is introduced checking the size of the structures.

See this issue: https://github.com/rust-lang/rust-clippy/issues/9538

These are expected to be less than 200bytes

For example:
[code]

We should find a way to fix this error by boxing the correct structures/fields.

[2022-11-16 12:36] bidoubiwa commented on #386
After discussing with @irevoire , we are going to add an attribute to silence the error whenever it shows up. See example:

https://github.com/meilisearch/meilisearch-rust/blob/d6ee78cc38d6ee24605fe7ddc17755ed6575050d/src/tasks.rs#L251

[2022-11-16 12:40] bidoubiwa opened #388 "Remove the need of writing to_string() everywhere in the tests by using `big_s`"
Currently, throughout the tests we are adding `to_string()` everywhere. Which is tedious and reduces readability.

To clean the code, we should use the crate [`big_s`](https://docs.rs/big_s/latest/big_s/index.html)

## Todo

- Add `big_s` to the repo as a dev dependencies `cargo add big_s --dev`
- Import the library in every tests mod that needs it:
[code]

- Change all occurrences of for example

[2022-11-17 06:25] romilpunetha commented on #388
Why is this being used only for tests?

[2022-11-17 11:34] bidoubiwa commented on #388
@irevoire may answer that

[2022-11-17 20:59] Jasperav commented on #337
@bidoubiwa I am sorry to ping you again but do you have any date? This is a production blocker issue.

[2022-11-21 09:34] bidoubiwa commented on #337
Hey @Jasperav is it possible it is linked to this ? https://github.com/meilisearch/meilisearch/issues/1495#issuecomment-1320432881

[2022-11-21 10:10] #388 closed

[2022-11-21 11:32] Jasperav commented on #337
@bidoubiwa yeah it could be, I am also using the searchable attributes.

[2022-11-21 18:06] Jasperav commented on #337
@bidoubiwa I am sorry, I think I misread it. I think this is not an issue in the engine itself. The Rest API works correctly but this driver isn't. This looks like a driver related issue to me.

[2022-11-22 11:24] bidoubiwa commented on #337
After discussing it with @irevoire, he brought up some interesting points. I'll let him provide it here.
Additionally, we might also want the opinion of @Kerollmops on the subject, as it may be possible that the solution should be implemented on the engine side.

[2022-11-23 09:31] Kerollmops commented on #337
Ok, so I logged the query by using an `nc -l 7700` and here are the results.

### When using cURL (7.84.0, libcurl/7.84.0)

[code]

[code]

### When using the SDK (0.20.1, or 7d3f1a7)

[code]

[code]

----

I then tried reproducing the issue with [the latest release-v0.30.0 branch of meilisearch](https://github.com/meilisearch/meilisearch/tree/release-v0.30.0) and failed. We can close this issue a

[2022-11-29 11:25] irevoire commented on #337
Oops, sorry, I totally forgot to answer.

Personally, from what I understand the issue comes down to the `preserve_order` feature of `serde_json`.
That ensures your JSON `Value` will stay ordered according to how you received it over the network.

And I don't think it's in the scope of this crate to enable this feature. You should check how the [feature unification](https://doc.rust-lang.org/cargo

[2022-11-29 14:58] Jasperav commented on #337
@Kerollmops I still can reproduce the bug, how can I provide more information because it works for you?

@irevoire I am not sure why the feature isn't enabled by default. The whole point of Meili is showing relevant hits in order right? If I add the feature flag to the serde_json in my own project, nothing happens. Probably because the feature doesn't propagate to other dependencies.